* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input, button {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background: #f0f2f5;
}

.container {
    background: gray;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: 20vh 70vh 10vh/ 1fr 3fr;
    grid-template-areas: 
        "header header"
        "aside main"
        "footer footer"
    ;
}

header {
    width: 100vw;
    height: 20vh;
    background: red;
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

header > .items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: end;
    align-items: end;
}

header > .items > div {
    background: purple;
    width: 30px;
    height: 30px;
}

main {
  height: 80vh;
  background: green;
  grid-area: main;
}

aside {
  height: 80vh;
  background: yellow;
  grid-area: aside;
}

footer {
    height: 10vh;
    background: blue;
    grid-area: footer;
}
